In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df=pd.read_csv(r'D:\DS-Projects\DS_Luxury Housing Sales Analysis\.venv\Datasets\Luxury_Housing_Bangalore.csv')

In [6]:
df.head()

,Property_ID,Micro_Market,Project_Name,Developer_Name,Unit_Size_Sqft,Configuration,Ticket_Price_Cr,Transaction_Type,Buyer_Type,Purchase_Quarter,Connectivity_Score,Amenity_Score,Possession_Status,Sales_Channel,NRI_Buyer,Locality_Infra_Score,Avg_Traffic_Time_Min,Buyer_Comments
0,PROP000001,Sarjapur Road,Project_0,RMZ,4025.0,4bhk,12.750846039118798,Primary,NRI,2025-03-31,7.990091,5.462863,Launch,Broker,yes,9.212491,18,Loved the amenities!
1,PROP000002,Indiranagar,Project_1,Puravankara,5760.0,3Bhk,16.292151871065954,Primary,Other,2024-06-30,4.839024,NaN,Under construction,NRI Desk,no,7.723898,106,NaN
2,PROP000003,Bannerghatta Road,Project_2,Tata Housing,7707.0,4bhk,10.517724412961911,Primary,HNI,2023-12-31,8.131315,8.669227,Ready to move,Direct,yes,6.985493,113,Agent was not responsive.
3,PROP000004,bellary road,Project_3,Embassy,6192.0,3BHK,9.396367494232896,Primary,HNI,2024-03-31,7.501657,5.720246,Ready to move,Online,yes,6.100929,106,Excellent location!
4,PROP000005,Koramangala,Project_4,SNN Raj,7147.0,4Bhk,15.345392444511946,Secondary,HNI,2024-12-31,4.525216,8.609649,Under construction,Broker,no,5.312510,18,Too far from my office.

In [7]:
df.shape

(101000, 18)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100000 entries, 0 to 99999
Data columns (total 22 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Property_ID            100000 non-null  object
 1   Micro_Market           100000 non-null  object
 2   Project_Name           100000 non-null  object
 3   Builder                100000 non-null  object
 4   Unit_Size_Sqft         100000 non-null  float64
 5   Configuration          100000 non-null  object
 6   Housing_Sale_Price_Cr  100000 non-null  float64
 7   Transaction_Type       100000 non-null  object
 8   Buyer_Type             100000 non-null  object
 9   Purchase_Quarter       100000 non-null  datetime64[ns]
 10  Connectivity_Score     100000 non-null  float64
 11  Amenity_Score          100000 non-null  float64
 12  Possession_Status      100000 non-null  object
 13  Sales_Channel          100000 non-null  object
 14  NRI_Buyer              100000 non-null  object
 15  Locality_Infra_Score   100000 non-null  float64
 16  Avg_Traffic_Time_Min   100000 non-null  int64
 17  Buyer_Comments         100000 non-null  object
 18  Price_per_Sqft         100000 non-null  float64
 19  Purchase_Year          100000 non-null  int32
 20  Purchase_Quarter_Num   100000 non-null  object
 21  Booking_Flag           100000 non-null  int64
dtypes: datetime64[ns](1), float64(6), int32(1), int64(2), object(12)
memory usage: 17.2+ MB

In [17]:
df.describe(include="all")

,Property_ID,Micro_Market,Project_Name,Builder,Unit_Size_Sqft,Configuration,Housing_Sale_Price_Cr,Transaction_Type,Buyer_Type,Purchase_Quarter,...,Possession_Status,Sales_Channel,NRI_Buyer,Locality_Infra_Score,Avg_Traffic_Time_Min,Buyer_Comments,Price_per_Sqft,Purchase_Year,Purchase_Quarter_Num,Booking_Flag
count,100000,100000,100000,100000,100000.000000,100000,1.000000e+05,100000,100000,100000,...,100000,100000,100000,100000.000000,100000.000000,100000,1.000000e+05,100000.000000,100000,100000.000000
unique,100000,16,500,11,NaN,3,NaN,2,5,NaN,...,3,4,2,NaN,NaN,9,NaN,NaN,4,NaN
top,PROP000001,Jayanagar,Project_0,Snn Raj,NaN,5BHK+,NaN,Primary,CXO,NaN,...,Under construction,Online,no,NaN,NaN,Great value for money.,NaN,NaN,Q3,NaN
freq,1,6379,200,9224,NaN,33536,NaN,50013,20127,NaN,...,33410,25169,50036,NaN,NaN,27382,NaN,NaN,25064,NaN
mean,NaN,NaN,NaN,NaN,5973.828430,NaN,1.264922e+08,NaN,NaN,2024-05-15 06:37:03.072000,...,NaN,NaN,NaN,7.499378,67.188020,NaN,-6.098015e+05,2023.749590,NaN,0.667510
min,NaN,NaN,NaN,NaN,-1.000000,NaN,-1.420000e+07,NaN,NaN,2023-06-30 00:00:00,...,NaN,NaN,NaN,5.000013,15.000000,NaN,-1.000000e+09,2023.000000,NaN,0.000000
25%,NaN,NaN,NaN,NaN,4649.000000,NaN,1.022471e+08,NaN,NaN,2023-09-30 00:00:00,...,NaN,NaN,NaN,6.249147,41.000000,NaN,1.556567e+04,2023.000000,NaN,0.000000
50%,NaN,NaN,NaN,NaN,5990.000000,NaN,1.200000e+08,NaN,NaN,2024-03-31 00:00:00,...,NaN,NaN,NaN,7.497347,67.000000,NaN,1.996895e+04,2024.000000,NaN,1.000000
75%,NaN,NaN,NaN,NaN,7332.000000,NaN,1.386284e+08,NaN,NaN,2024-09-30 00:00:00,...,NaN,NaN,NaN,8.751793,93.000000,NaN,2.652585e+04,2024.000000,NaN,1.000000
max,NaN,NaN,NaN,NaN,8999.000000,NaN,1.000000e+09,NaN,NaN,2025-03-31 00:00:00,...,NaN,NaN,NaN,9.999956,119.000000,NaN,3.243594e+05,2025.000000,NaN,1.000000
std,NaN,NaN,NaN,NaN,1692.128468,NaN,7.290101e+07,NaN,NaN,NaN,...,NaN,NaN,NaN,1.443286,30.267763,NaN,1.028447e+07,0.660128,NaN,0.471108

Drop The Duplicate values

In [10]:
df.drop_duplicates(inplace=True)

Clean inconsistent formats

In [11]:
df['Ticket_Price_Cr'] = (

    df['Ticket_Price_Cr']
    .str.replace(' Cr', '', regex=False) 
    .str.replace('₹', '', regex=False)  
    .astype(float) 
)

Handle nulls

In [12]:

df['Unit_Size_Sqft']=df['Unit_Size_Sqft'].fillna(df['Unit_Size_Sqft'].median())
df['Ticket_Price_Cr'] = df.groupby('Unit_Size_Sqft')['Ticket_Price_Cr'].transform(lambda x: x.fillna(x.median()))
df['Amenity_Score'] = df.groupby('Micro_Market')['Amenity_Score'].transform(lambda x: x.fillna(x.median()))
df['Buyer_Comments'] = df['Buyer_Comments'].fillna(df['Buyer_Comments'].mode()[0])

Normalize text fields

In [13]:
df['Micro_Market']=df['Micro_Market'].str.title() 
df.rename(columns={'Developer_Name': 'Builder'}, inplace=True) #Column Name Change For Better Analysis 
df['Builder']=df['Builder'].str.title()
df['Configuration'] = df['Configuration'].str.upper()

Derive columns

In [14]:
df['Ticket_Price_Cr']=df['Ticket_Price_Cr']*1e7
df['Price_per_Sqft']=df['Ticket_Price_Cr'] / df['Unit_Size_Sqft'] 
df['Purchase_Quarter'] = pd.to_datetime(df['Purchase_Quarter'])
df['Purchase_Year'] = df['Purchase_Quarter'].dt.year
df['Purchase_Quarter_Num'] = df['Purchase_Quarter'].dt.quarter 
df['Purchase_Quarter_Num'] = 'Q' + df['Purchase_Quarter_Num'].astype(str)
df['Booking_Flag'] = df['Possession_Status'].apply(
    lambda x: 1 if x in ['Launch', 'Under construction'] else 0
)

Rename Columns

In [15]:
df.rename(columns={'Ticket_Price_Cr': 'Housing_Sale_Price_Cr'}, inplace=True)

In [19]:
df.head(10)

,Property_ID,Micro_Market,Project_Name,Builder,Unit_Size_Sqft,Configuration,Housing_Sale_Price_Cr,Transaction_Type,Buyer_Type,Purchase_Quarter,...,Possession_Status,Sales_Channel,NRI_Buyer,Locality_Infra_Score,Avg_Traffic_Time_Min,Buyer_Comments,Price_per_Sqft,Purchase_Year,Purchase_Quarter_Num,Booking_Flag
0,PROP000001,Sarjapur Road,Project_0,Rmz,4025.0,4BHK,1.275085e+08,Primary,NRI,2025-03-31,...,Launch,Broker,yes,9.212491,18,Loved the amenities!,31679.120594,2025,Q1,1
1,PROP000002,Indiranagar,Project_1,Puravankara,5760.0,3BHK,1.629215e+08,Primary,Other,2024-06-30,...,Under construction,NRI Desk,no,7.723898,106,Great value for money.,28284.985887,2024,Q2,1
2,PROP000003,Bannerghatta Road,Project_2,Tata Housing,7707.0,4BHK,1.051772e+08,Primary,HNI,2023-12-31,...,Ready to move,Direct,yes,6.985493,113,Agent was not responsive.,13646.976013,2023,Q4,0
3,PROP000004,Bellary Road,Project_3,Embassy,6192.0,3BHK,9.396367e+07,Primary,HNI,2024-03-31,...,Ready to move,Online,yes,6.100929,106,Excellent location!,15175.012103,2024,Q1,0
4,PROP000005,Koramangala,Project_4,Snn Raj,7147.0,4BHK,1.534539e+08,Secondary,HNI,2024-12-31,...,Under construction,Broker,no,5.312510,18,Too far from my office.,21471.096187,2024,Q4,1
5,PROP000006,Yelahanka,Project_5,Brigade,4290.0,4BHK,9.820000e+07,Secondary,HNI,2023-09-30,...,Launch,Online,no,5.154027,16,Underpriced for location.,22890.442890,2023,Q3,1
6,PROP000007,Bannerghatta Road,Project_6,Prestige,6776.0,5BHK+,1.089675e+08,Secondary,Other,2025-03-31,...,Under construction,Direct,no,9.791550,74,Too far from my office.,16081.393675,2025,Q1,1
7,PROP000008,Whitefield,Project_7,Total Environment,5763.0,3BHK,9.357539e+07,Secondary,NRI,2025-03-31,...,Under construction,Direct,yes,9.054713,31,Great value for money.,16237.270421,2025,Q1,1
8,PROP000009,Sarjapur Road,Project_8,Prestige,5815.0,3BHK,1.229945e+08,Secondary,Other,2024-03-31,...,Under construction,NRI Desk,yes,8.552046,68,Great value for money.,21151.245761,2024,Q1,1
9,PROP000010,Jp Nagar,Project_9,Puravankara,8675.0,4BHK,9.193310e+07,Primary,CXO,2023-09-30,...,Launch,Direct,yes,8.395691,18,Too far from my office.,10597.475826,2023,Q3,1

In [20]:
# Save cleaned dataset
df.to_csv('Housing_sales.csv', index=False)

print("✅ Cleaned dataset saved successfully!")

✅ Cleaned dataset saved successfully!

In [23]:
df['Booking_Flag'].sum()

np.int64(66751)